@import 'config';
@import 'commons';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include background;
    background: $primary-color;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.3;
    color: $text-color;
}

main#main-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    .social-icons {
        margin-top: 1rem;

        a {
            padding: .4rem;
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
}

